{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="page-header"> Lista de Actividades </h2>
   <table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre Actividad</th>
            <th>Fecha Actividad</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {%for var in var_otros%}
        <tr>
            <th scope="row">{{var.id}}</th>
            <td>{{var.name}}</td>
            <td>{{var.date|date('F j, Y, g:i a')}}</td> 
            <td><a href="/otro/details/{{var.id}}" class="btn btn-success">Ver</a>
                <a href="/otro/edit/{{var.id}}" class="btn btn-default">Editar</a>
                <a href="/otro/delete/{{var.id}}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table> 
{% endblock %}